
* {
    /* outline: 1px solid red; */
    margin: 0;
    padding: 0;
}

body {
    box-sizing: content-box;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 25%;
    left: 25%;
    background-color: #F7B2B7;

}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 400px;
    height: 600px;
    background-color: #EFEFD0;
    border: 4px solid #4F6367;
    border-radius: 10px;
    box-shadow: 6px 6px #636161;
}

.row {
    display: flex;
    justify-content: space-evenly;
}

.key {
    width: 70px;
    height: 50px;
    font-size: 18pt;
    border: 2px solid #062f30;
    background-color: #8ac5e6;
    border-radius: 10px;
    box-shadow: 1px 1px #636161;
}

.key:hover{
    background-color: #9adcff;
}

.display {
    display: flex;
    align-self: center;
    justify-content: end;
    align-items: end;
    width: 90%;
    height: 80px;
    text-align: end;
    font-size: 30pt;
    background-color: #84dabd;
    border: 4px solid #4F6367;
    border-radius: 10px;
    box-shadow: 3px 3px #636161;
    color: #3f3f3f;

}